.Capsnoproduct-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
  }
  
  .Capsnoproduct-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .Capsnoproduct-container p {
    font-size: 1.5rem;
    margin-top: 0;
  }
  